body {
  background-image: url("./img/background.jpg");
  font-family: Courier, monospace;
}

/* Title screen elements. */
#basedonbuildstring {
  position: fixed;
  top: 925px;
  left: 1625px;
}

#buildstring {
  position: fixed;
  top: 925px;
}

#title {
  font-size: 50px;
  font-weight: 100;
  position: fixed;
  top: 300px;
  left: 835px;
  width: 130px;
}

#updatestring {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  position: fixed;
  top: 480px;
  left: 835px;
}

#betastring {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  position: fixed;
  top: 425px;
  left: 867px;
}

.buttons {
  font-family: courier, monospace;
  background-image: url("./img/btnbg.png");
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 100px;
  height: 40px;
  position: fixed;
  top: 875px;
  left: 900px;
}

/* Screen display elements. */
#titlescreen {
  display: inline-block;
}

#shoppanel {
  display: none;
}

#gamescreen {
  display: none;
}

/* Game screen elements */
#coin {
  background: transparent url("./img/coin.jpg") no-repeat;
  border-width: 0px;
  width: 214px;
  height: 214px;
  position: fixed;
  top: 260px;
  left: 840px;
}

#clickstring {
  text-align: center;
  position: fixed;
  top: 500px;
  left: 900px;
}

#cpsstring {
  text-align: center;
  position: fixed;
  top: 525px;
  left: 850px;
}

#shopicon {
  position: fixed;
  top: 27px;
  left: 120px;
}

#shopstring {
  font-size: 35px;
  font-family: courier, monospace;
  position: fixed;
  top: -5px;
  left: 180px;
}

#shopborder {
  position: fixed;
  top: -15px;
}

#clickerbuy {
  background: transparent url("./img/shop/clicker.jpg") no-repeat;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 45px;
  width: 45px;
  position: fixed;
  top: 110px;
  left: 90px;
}

#clickerstring {
  position: fixed;
  top: 75px;
  left: 77px;
}

#clickercpsstring {
  text-align: center;
  position: fixed;
  top: 90px;
  left: 140px;
}

#clickercoststring {
  text-align: center;
  position: fixed;
  top: 105px;
  left: 140px;
}

#clickersownedstring {
  text-align: center;
  position: fixed;
  top: 120px;
  left: 140px;
}